.seedProductGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


@media (min-width: 768px) { 
    .seedProductGrid {
        grid-template-columns: 1fr 1fr;
    }      
 }

@media (min-width: 992px) { 
    .seedProductGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }    
 }

 @media (min-width: 1200px) { 
    .seedProductGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
  }