.SeedOneProductListItem {

}

.SeedOneProductListItemHeader {
    background: rgb(44,40,40);
    color: white;
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 900;
}

.SeedOneProductListItem:hover .SeedOneProductListItemHeader {
    background-color: rgb(90,20,20);
}